In [1]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('files_for_activities/learningSet.csv')
data

C:\Users\Anakz\AppData\Local\Temp\ipykernel_15916\3386708480.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('files_for_activities/learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

 # Complete the following steps on the categorical columns in the dataset:

 Check for null values in all the columns

In [14]:
categorical = data.select_dtypes(include = object)
categorical.isna().sum().sort_values(ascending = False)
categorical.shape

(95412, 74)

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories

ZIP CODE - we are including state already

In [15]:
drop_list = categorical.loc[:, ['OSOURCE', 'ZIP']]
categorical.drop(drop_list, axis=1, inplace=True)
categorical.shape

(95412, 72)

Identify columns that over 85% missing values

In [16]:
# Replacing the blanks for Nan values

categorical = categorical.replace(' ', np.nan)

In [17]:
# Calculating the 85% of the whole dataset

threshold = len(categorical)*85/100

In [18]:
missing_values = [column for column in categorical.columns if
           categorical[column].isna().sum() > threshold]

In [19]:
len(missing_values)

30

Remove those columns from the dataframe

In [20]:
categorical.drop(missing_values, axis=1, inplace=True)
categorical.shape

(95412, 42)

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [21]:
#I dont agree with replacing the missing values with F, but for educational purposes ill go on with the coding

In [ ]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [ ]:
def clean_GENDER(x):
    if x in ['U', 'J', 'C', 'A']:
        return 'other'
    else:
        return x
    
categorical["GENDER"] = categorical["GENDER"].apply(lambda x: clean_GENDER(x))

In [ ]:
categorical['GENDER'].value_counts()